body{
	background: #EFFAFD;
}

.section__body {
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}

.game-block {
	position: relative;
}

canvas {
	max-width: 100%;
}

.game__popup {
	position: absolute;	
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: 2px solid #019CAB;
	max-width: 500px;
	padding: 20px;
	background-color: white;	
}
.game__btn {
	display: table;
	margin: 0 auto 0;
	padding: 15px 25px;
	background-color: #019CAB;
	color: white;
	cursor: pointer;
	white-space: nowrap;
}
.game__btn_restart {
	margin-top: 30px;
}

.game__text-block {
	position: absolute;
	font-size: 16px;
	color: #BEBEBE;
}
@media screen and (min-width: 769px) {
	.game__text-block {
		bottom: 35px;
		right: 100px;
	}
}
@media screen and (max-width: 768px) {
	.game__text-block {
		top: 10px;
		left: 10px;
	}
}

@media screen and (min-width: 769px) {	
	.game__text-row:not(:last-child) {
		margin-bottom: 10px;
	}
}
.game__text-block b {
	font-weight: 500;
	color: #008996;
}
.game__text-block b.b_color_black {
	color: #5A5A5A;
}


.game-block__mobile-controls {
	display: none;
    justify-content: center;
    margin: 0 auto;
}
.game-block__mobile-controls.active {
	display: flex;
}

.mobile-control {
	background-color: transparent;
	padding: 0 10px;
	width: 70px;
	height: 70px;
	border: none;
	outline: none;
}
.mobile-control img {
	max-width: 100%;
}
.mobile-control_left {
}
.mobile-control_left img {
	transform: rotate(180deg);
}
.mobile-control_shoot {
}
.mobile-control_right {
}



.game-description-block {
	position: relative;
	padding: 40px 20px;
	font-size: 22px;
	text-align: center;
}
@media screen and (max-width: 768px) {
	.game-description-block {
		padding: 20px;
		font-size: 18px;
	}
}
.game-description-block:before {
	content: '';
	display: block;
	width: 94%;
	height: 1px;
	background-color: #DCDCDC;
	position: absolute;
	top: 0;
	left: 3%;
}
.game-description-block .p_weight_500 {
	font-weight: 500;
}
.bullets-description {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}
.bullets-description .bullet {
	display: flex;
	align-items: center;
	margin: 10px 13px;/*10px 17px;*/
}
.bullets-description .bullet__icon {
	margin-right: 15px;
}